doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no")
        link(rel="stylesheet", href="/css/style.css")
        block styles 
        script(defer, src="/js/common.js")
        block scripts
        title 
    body
        <div id="skip_ui" class="skip_ui">
            <a href="#content_layout">본문 바로가기</a>
        </div>
        //include ../partials/_var_index
        //- include ../partials/nav
        //.Page.wrapper(class=page)
        //- include ../partials/header
        //- .content_wrap
            include ../partials/nav
        //----------------------- // 컨텐츠 시작 -----------------------
        block content 

            //- include ../partials/banner
            //- include ../partials/footer
        //script(src="./js/main.js" defer )
        //script(src="./js/test.js", type="module")
        //script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js")
        //include ../partials/modal
                
